<div className="container">
  <div className="mt-5">
    <input type="text" [(ngModel)]="url"/><br/>    
    <button (click)="onclick()" className="btn btn-primary">Run tests</button>
    <h5>{{current}}</h5>

    <div className="mt-5 mb-5">
      <table>
        <tbody>
          <ng-container *ngFor="let o of tmp">
            <tr *ngIf="o.status !== 'SUCCESS'"><td >{{o.name}}<div>{{o.error | json }}</div></td><td>{{o.status}}</td></tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>